.card:hover {
   scale: 1.1;
}

.content {
   transform-style: preserve-3d;
}

.front {
   backface-visibility: hidden;
}

.back {
   transform: rotateY(180deg);
   backface-visibility: hidden;
}

.flipped {
   transform: rotateY(180deg);
}
